.reserva-exito {
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
  min-height: 1040px;
  position: relative;
}

.reserva-exito .group {
  position: absolute;
  top: 822px;
  left: 0;
  width: 1440px;
  height: 218px;
  display: flex;
  background-color: #d9d9d9;
}

.reserva-exito .div {
  margin-top: 52px;
  width: 810px;
  height: 114px;
  margin-left: 315px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.reserva-exito .rectangle {
  height: 50px;
  background-color: #f4f1f1;
}

.reserva-exito .rectangle-2 {
  margin-left: 174px;
  width: 461px;
  height: 50px;
  background-color: #f4f1f1;
}

.reserva-exito .group-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 187px;
  display: flex;
  background-color: #d9d9d9;
}

.reserva-exito .rectangle-3 {
  margin-top: 60px;
  width: 241px;
  height: 69px;
  margin-left: 33px;
  background-color: #fff8f8;
}

.reserva-exito .rectangle-4 {
  margin-top: 78px;
  width: 156px;
  height: 32px;
  margin-left: 35px;
  background-color: #a6a6a6;
}

.reserva-exito .rectangle-5 {
  margin-top: 78px;
  width: 156px;
  height: 32px;
  margin-left: 24px;
  background-color: #a6a6a6;
}

.reserva-exito .rectangle-6 {
  margin-top: 79px;
  width: 156px;
  height: 32px;
  margin-left: 24px;
  background-color: #a6a6a6;
}

.reserva-exito .ellipse {
  margin-top: 50px;
  width: 87px;
  height: 87px;
  margin-left: 461px;
  background-color: #ffffff;
  border-radius: 43.5px;
}

.reserva-exito .rectangle-7 {
  position: absolute;
  top: 266px;
  left: 422px;
  width: 595px;
  height: 92px;
  background-color: #d2d2d2;
}

.reserva-exito .rectangle-8 {
  position: absolute;
  top: 420px;
  left: 348px;
  width: 743px;
  height: 248px;
  background-color: #d2d2d2;
}

.reserva-exito .rectangle-9 {
  position: absolute;
  top: 718px;
  left: 607px;
  width: 225px;
  height: 54px;
  background-color: #9b9b9b;
}

.reserva-exito .text-wrapper {
  position: absolute;
  top: 11px;
  left: 1256px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
