.perfil-seguridad {
  background-color: #ffffff;
  width: 100%;
  min-width: 1440px;
  min-height: 1040px;
  position: relative;
}

.perfil-seguridad .group {
  position: absolute;
  top: 822px;
  left: 0;
  width: 1440px;
  height: 218px;
  display: flex;
  background-color: #d9d9d9;
}

.perfil-seguridad .div {
  margin-top: 52px;
  width: 810px;
  height: 114px;
  margin-left: 315px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.perfil-seguridad .rectangle {
  height: 50px;
  background-color: #f4f1f1;
}

.perfil-seguridad .rectangle-2 {
  margin-left: 174px;
  width: 461px;
  height: 50px;
  background-color: #f4f1f1;
}

.perfil-seguridad .group-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 187px;
  display: flex;
  background-color: #d9d9d9;
}

.perfil-seguridad .rectangle-3 {
  margin-top: 60px;
  width: 241px;
  height: 69px;
  margin-left: 33px;
  background-color: #fff8f8;
}

.perfil-seguridad .rectangle-4 {
  margin-top: 78px;
  width: 156px;
  height: 32px;
  margin-left: 35px;
  background-color: #a6a6a6;
}

.perfil-seguridad .rectangle-5 {
  margin-top: 78px;
  width: 156px;
  height: 32px;
  margin-left: 24px;
  background-color: #a6a6a6;
}

.perfil-seguridad .rectangle-6 {
  margin-top: 79px;
  width: 156px;
  height: 32px;
  margin-left: 24px;
  background-color: #a6a6a6;
}

.perfil-seguridad .ellipse {
  margin-top: 50px;
  width: 87px;
  height: 87px;
  margin-left: 461px;
  background-color: #ffffff;
  border-radius: 43.5px;
}

.perfil-seguridad .rectangle-7 {
  position: absolute;
  top: 227px;
  left: 464px;
  width: 511px;
  height: 69px;
  background-color: #d9d9d9;
}

.perfil-seguridad .group-3 {
  position: absolute;
  top: 370px;
  left: 562px;
  width: 317px;
  height: 245px;
  display: flex;
  flex-direction: column;
  gap: 39.3px;
}

.perfil-seguridad .rectangle-8 {
  width: 317px;
  height: 31.7px;
  background-color: #adadad;
}

.perfil-seguridad .rectangle-9 {
  width: 317px;
  height: 31.7px;
  background-color: #e6e6e6;
}

.perfil-seguridad .rectangle-10 {
  position: absolute;
  top: 676px;
  left: 608px;
  width: 224px;
  height: 54px;
  background-color: #787878;
}

.perfil-seguridad .text-wrapper {
  position: absolute;
  top: 11px;
  left: 1233px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}
